# FSRest env
FSREST_VALCALLBACKADDR=http://_BCCE_HOST_:30001/cms/v1/fsIntegration/operationInfo
FSREST_TRANSCALLBACKADDR=http://_BCCE_HOST_:30001/cms/v1/fsIntegration/operationInfo
FSREST_FILEREQUESTCALLBACKADDR=http://_BCCE_HOST_:30001/cms/v1/uploadfiles/download
FSREST_MESSAGEPOSTADDR=http://_AUDITSAFE_DS_HOST_:_AUDITSAFE_DS_PORT_/tas/dataserver/intercom/post
